.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.container div{
  margin: 5px;
}
.error-message {
  color: red;
  font-size: smaller;
  margin-top: 5px;
}